<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SpringBoot.dao.ProviderImp">

	<select id="select" resultType="com.SpringBoot.bean.Provider">
		select * from bus_provider
				<where>
					<if test="providername!=null">
				    and providername like '%${providername}%'
				    </if>
				    <if test="connectionperson!=null">
				    and connectionperson like '%${connectionperson}%'
				    </if>
				    <if test="phone!=null">
				    and phone like '%${phone}%'
				    </if>
				</where>
				limit #{index},#{limit}		
	</select>
	
	<select id="selectCount" resultType="java.lang.Integer">
 		select count(*) from bus_provider
				<where>
					<if test="providername!=null">
				    and providername like '%${providername}%'
				    </if>
				    <if test="connectionperson!=null">
				    and connectionperson like '%${connectionperson}%'
				    </if>
				    <if test="phone!=null">
				    and phone like '%${phone}%'
				    </if>
				</where>
 	</select>
 	
 	<select id="selectProviderId" resultType="java.lang.Integer">
 		select id from bus_provider where  providername like '%${providername}%'
 	</select>
 		
	<select id="selectAvailable" resultType="com.SpringBoot.bean.Provider">
		select * from bus_provider
	</select>
	
	<insert id="insert">
			
	insert into bus_provider (providername,address,connectionperson,phone) 
	values 
	(#{providername},#{address},#{connectionperson},#{phone});
	
	</insert>
	
	<update id="update">
		update bus_provider set providername=#{providername},address=#{address},
		connectionperson=#{connectionperson},phone=#{phone}
		 where id=#{id}
	</update>
	
	<delete id="delete">
		delete from bus_provider where id=#{id}
	</delete>

</mapper> 